################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/*/.vs/*
/*/obj
/Domain/bin/Debug/net6.0
/EntityFrameworkDay2/bin/Debug/net6.0
/EntityFrameworkDay3/EntityFrameworkDay3/.vs/EntityFrameworkDay3/v17/.suo
/EntityFrameworkDay3/EntityFrameworkDay3/obj
/EntityFrameworkDay3/Core/obj
/EntityFrameworkDay3/Core/bin/Debug/net6.0
/EntityFrameworkDay3/EntityFrameworkDay3/bin/Debug/net6.0
