################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/*/.vs/*
/*/obj
/Domain/bin/Debug/net6.0
/EntityFrameworkDay2/bin/Debug/net6.0
/EntityFrameworkDay3/EntityFrameworkDay3/.vs/EntityFrameworkDay3/v17/.suo
/EntityFrameworkDay3/EntityFrameworkDay3/obj
/EntityFrameworkDay3/Core/obj
/EntityFrameworkDay3/Core/bin/Debug/net6.0
/EntityFrameworkDay3/EntityFrameworkDay3/bin/Debug/net6.0
/EntityFrameworkDay5/Domain/bin/Debug/net6.0
/EntityFrameworkDay5/Domain/obj
/EntityFrameworkDay5/EntityFrameworkDay5/.vs/EntityFrameworkDay5/v17/.suo
/EntityFrameworkDay5/EntityFrameworkDay5/bin/Debug/net6.0
/EntityFrameworkDay5/EntityFrameworkDay5/obj
/Day6/bin/Debug/net6.0
/Core/bin/Debug/net6.0
/Data/bin/Debug/net6.0
/Day8/bin/Debug/net6.0
